@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/* Shared Styles */
.primary-btn {
    margin: 5px;
    border-radius: 48px;
    background: #FF42A5;
    padding: 15px 30px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    margin: 15px 0;
}

.title-effect {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-desc {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container>img {
    height: 30px;
}

.logo {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #0B0223;
}

.logo-text {
    color: #FF42A5;
}

.logo-text-white {
    color: #ffffff;
}

section {
    padding: 100px 0;
}

section {
    padding: 100px 150px;
}


/* header section style */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
    cursor: pointer;
}

nav li>i {
    margin-left: 10px;
}

#follow-icon {
    padding: 15px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner Section Styles */
.banner-container {
    /* padding: 0 150px; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-content {
    width: 50%;
    padding: 100px 0 100px 150px;
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100%;
}

.banner-image>img {
    height: 470px;
    padding: 0 150px 0 0;
}

.banner-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.goat {
    font-size: 80px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Main Section Styles */
/* main {
    padding: 0 150px;
} */

/* Gammer Section Styles */

.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 80px 0; */
    text-align: right;
    gap: 5px;
}


.gamer-container>img {
    width: 50%;
}

.purpose-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.purpose-text-bold {
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
}

/* Game Cards Section */
.games-container {
    text-align: center;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 10px;
}

.card {
    display: inline-block;
    justify-content: center;
    width: 250px;
    border-radius: 5px;
    padding: 15px 0;
}

.image-card>img {
    width: 230px;
    /* height: 100%; */

}

.card-title {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}


.image-card {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hover-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #F948B2;
}

.image-card:hover .hover-item {
    opacity: 1;
}

.hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hover-content i {
    font-size: 30px;
}

.hover-text {
    margin-top: 10px;
    font-size: 16px;
    color: #F948B2;
}



/* Play Instant Section  */
.play-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.play-content {
    width: 50%;
    text-align: right;
}

div.play-images-one {
    width: 50%;
    position: relative;
    /* width: 00px; */
}

div.play-images-one>img {
    width: 500px;
    height: 100%;
}

div.play-images-two>img {
    width: 120px;
}

div.play-images-two {
    position: absolute;
    top: 90%;
    left: -40px;
}


.play-images {
    width: 50%;
}



/* Games Type Section */
.games-type {
    background-color: #ffcae550;
}

.game-lines {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 0;
    gap: 15px;
}

.game {
    width: 200px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.game:hover {
    border: 1px solid #F948B2;
}

.game>p:hover {

    color: #F948B2;
}

.game>img {
    width: 40px;
}

.game-type-name {
    color: #0B0223;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

/* Footer Section */
footer {
    padding: 100px 150px;
    background-color: #0B0223;
    margin: auto;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    row-gap: 35px;
    gap: 35px;
    text-align: center;
}

.footer-list-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 35px;
}

.footer-icons>i {
    padding: 0 25px;
}

.footer-auth {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    gap: 35px;
}

.footer-auth-item,
.footer-text {
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
}

.footer-text {
    text-align: center;
}

/* Responsive Section */

/* Mobile Devices */
@media screen and (max-width: 425px) {

    section,
    header {
        padding: 0 10px;
        margin: 0;
    }

    .section-title,
    .play-content,
    footer>div,
    .play-content,
    .banner-content {
        width: 100%;
    }

    .banner-content,
    .gamer-content,
    .play-content,
    .games-type,
    footer {
        padding: 30px 15px;
        text-align: center;
    }

    nav,
    nav>ul,
    .banner-container,
    .gamer-container,
    .play-container {
        flex-direction: column;
    }

    .game-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .play-container {
        text-align: center;
    }

    nav>ul>li {
        padding: 10px 0;
    }

    #follow-icon {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
    }

    .banner-image {
        order: 1
    }

    .banner-content {
        order: 2;
    }

    nav {
        padding: 20px 0;
    }


    .games-type {
        margin: 50px 0 0 0;
    }

    .play-container {
        gap: 0;
        ;
    }

    .game-lines {
        gap: 5px;
    }

    .game {
        width: auto;
   margin: auto;
    }

    .play-images {
        width: 100vw;
        justify-content: center;
    }

    .gamer-container>img {
        width: 400px;
    }

    .game-cards {
        gap: 0;
        ;
    }

    .card>p {
        text-align: center;
    }

    div.play-images-one {
        width: 100%;
    }

    div.play-images-two {
        top: 70%;
        left: 5%;
    }

    div.play-images-one>img {
        width: 300px;
    }



    .banner-image {
        order: 1;
        width: 400px;
        margin: auto;
    }

    .banner-image>img {
        width: 400px;
        height: auto;
        padding: 0;
    }

    .card {
        margin: auto;
    }

    .game-lines {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-list,
    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icons>i,
    .footer-list>p,
    .footer-auth>p {
        padding: 10px 10px;
    }

    .footer-auth {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer>p {
        width: auto;
    }
}

/* Tablet Devices */
@media screen and (min-width:426px) and (max-width: 768px) {
    section,
    header {
        padding: 0 10px;
        margin: 0;
    }

    .section-title,
    .play-content,
    footer>div,
    .play-content,
    .banner-content {
        width: 100%;
    }

    .banner-content,
    .gamer-content,
    .play-content,
    .games-type,
    footer {
        padding: 30px 15px;
        text-align: center;
    }

    nav,
    nav>ul,
    .banner-container,
    .gamer-container,
    .play-container {
        flex-direction: column;
    }

    .game-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-container {
        text-align: center;
    }

    nav>ul>li {
        padding: 10px 0;
    }

    #follow-icon {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
    }

    .banner-image {
        order: 1
    }

    .banner-content {
        order: 2;
    }

    nav {
        padding: 20px 0;
    }


    .games-type {
        margin: 50px 0 0 0;
    }

    .play-container {
        gap: 0;
        ;
    }

    .game-lines {
        gap: 5px;
    }

    .game {
        width: auto;
   margin: auto;
    }

    .play-images {
        width: 100vw;
        justify-content: center;
    }


    .game-cards {
        gap: 0;
        ;
    }

    .card>p {
        text-align: center;
    }

    div.play-images-one {
        width: 100%;
    }

    div.play-images-two {
        top: 80%;
        left: 10%;
    }

    .play-images-one>img {
        width: 600px;
    }
    /* div.play-images-one>img {
        width: 600px;
    } */



    .banner-image {
        order: 1;
        width: 700px;
        margin: auto;
    }

    .banner-image>img,
    .gamer-container>img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .card {
        margin: auto;
    }

    .game-lines {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-list,
    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icons>i,
    .footer-list>p,
    .footer-auth>p {
        padding: 10px 10px;
    }

    .footer-auth {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer>p {
        width: auto;
    }
}
